.login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button{
        text-align: center;
        width: 30%;
        margin: auto;
    }
}

.card {
    width: 25rem;

    .card-title{
            margin-bottom: 2rem;
    }
}
